<script>
 const token= localStorage.getItem("token");
 const data=localStorage.getItem("data")
 console.log("token",JSON.parse(data))
 

 
       
 

   
 

     // window.onload = load;
</script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>
<div id="doctorMain" >
   
                        <table
                         
                        >
                         <thead>
                         <div style="display: flex;">
                           <h6 style="width: 200px;text-align: center;font-weight: bold;">Name</h6>
                           <h6 style="width: 200px;text-align: center;font-weight: bold;">Gender</h6>
                           <h6 style="width: 200px;text-align: center;font-weight: bold">DOB</h6>
                           <h6 style="width: 200px;text-align: center;font-weight: bold;">Email</h6>
                         </div>
                         </tr>
                           
                         </thead>
                            <tbody>    
                              <% data.forEach(function (data) { %>
            
  
                                  <tr style="display: flex;" >
                                      <td style="width: 200px;text-align: center;"><%= data.Name.S %></td>
                                      <td style="width: 200px;text-align: center;"><%= data.gender.S %></td>
                                      <td style="width: 200px;text-align: center;"> DOB</td>
                                      <td style="width: 200px;text-align: center;"><%= data.email.S %> </td>
                                      <td><button class="btn btn-primary">View</button></td>
                                     
                                  </tr>
                                  

                                 
                                  <% }) %>
                          </tbody>
                        </table>
                    
   </div>


 