<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/dashboard">Welcome,</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/prescription">Prescriptions<span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <span class="navbar-text">
                <a href="/users/logout" >Logout</a>
              </span>
            </div>
          </nav>
        <div class="card card-body">
        <h1 class="text-center mb-3">
                <i class="far fa-calendar-plus"></i>
        </h1>
        <div class="container-fluid">
            <h4><center>Prescription Details</center></h4>
            <br/>
            <a href="/addprescription"><button type="submit" class="btn btn-primary">Add Prescription</button></a>
            <br/><br/>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Download</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                
                <tbody>    
                  
                    <form action="/delete" method="POST">
                        <tr class="table-secondary">
                            <th scope="row"></th>
                            <td><a href=''><i class="medium fas fa-file-download"></i></a></td>
                            <td><button type='submit' class='btn btn-danger' name='fileurl'>Delete</button></td>
                            <input type='hidden' id='email' name='email' value=''>
                            <input type='hidden' id='fileUrl' name='fileUrl' value=''>
                        </tr>
                    </form>
                </tbody>
                </table> 
        </div>  
        </div>
</div>
</div>
</body>
</html>

